/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define root variables for colors */
:root {
  --buttonBgColor: #008b8b; /* Background color for buttons */
  --textPrimeColor: #fff; /* Primary text color */
  --textSecondaryColor: #8d9198; /* Secondary text color */
}

/* Set the width and height to occupy the entire viewport */
html,
body {
  width: 100%;
  height: 100%;
}

/* Apply general styling for the body */
body {
  font-family: "Poppins", serif; /* Set the font to Poppins */
  font-weight: 400; /* Normal font weight */
  font-style: normal; /* Default font style */
  background-color: #000; /* Dark background color */
  overflow-x: hidden;
}

/* Highlight the selected text in paragraphs */
p::selection {
  color: var(--buttonBgColor); /* Change text color on selection */
}

/* Style the header */
header {
  color: var(--textPrimeColor); /* Primary text color */
  padding: 1.5rem; /* Add padding around the header */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Align items vertically */
  user-select: none; /* Disable text selection */
  position: relative; /* Relative position for stacking */
  z-index: 999; /* High stacking order */
}

/* Header logo styling */
#header__logo {
  max-width: 70px; /* Set maximum width */
  max-height: 70px; /* Set maximum height */
}

#header__logo img {
  width: 100%; /* Set image width */
  height: 100%; /* Set image height */
  border-radius: 8px;
  object-fit: cover;
  filter: drop-shadow(0 0 0.1rem #000); /* Add shadow */
}

/* Header menu styling */
.header__menu {
  font-size: 1.1em; /* Increase font size */
  font-weight: 600; /* Semi-bold font */
  font-family: "Poppins", serif; /* Set font family */
}

.header__menu ul {
  list-style-type: none; /* Remove bullet points */
  display: flex; /* Display items in a row */
}

/* Styling for header menu list items */
.header__menu li {
  margin: 0 1em; /* Add horizontal margin */
  position: relative; /* Position for dropdown */
  padding: 0.5rem 1.2rem; /* Add padding */
  transition: box-shadow 0.3s ease, border-radius 0.3s ease; /* Add smooth effects */
}

/* Specific ID styling for social icons in the menu */
.header__menu ul #social-icon {
  color: var(--buttonBgColor); /* Button background color */
}

/* Hover effect for menu items */
.header__menu li:hover {
  box-shadow: 0 0 0.1rem 0.1rem #38465a; /* Add shadow */
  border-radius: 12px; /* Round corners */
}

/* Anchor styling inside menu items */
.header__menu a {
  color: var(--textSecondaryColor); /* Secondary text color */
  text-decoration: none; /* Remove underline */
  font-size: 1.1em; /* Set font size */
  transition: color 0.3s ease; /* Smooth color transition */
  letter-spacing: 0.1rem; /* Space between letters */
}

/* Hover effect for anchor tags */
.header__menu a:hover {
  color: var(--buttonBgColor); /* Button background color */
}

/* Styling for dropdown menu inside header */
.header__menu li ul {
  display: none; /* Hide dropdown initially */
  position: absolute; /* Position relative to parent */
  top: 100%; /* Place below parent item */
  left: 0; /* Align to the left */
  background-color: #000; /* Dark background color */
  list-style-type: none; /* Remove bullet points */
  border-radius: 12px; /* Round corners */
  box-shadow: 0 0 0.1rem #38465a; /* Add shadow */
}

/* Show dropdown menu on hover */
.header__menu li:hover > ul {
  display: block; /* Show dropdown */
}

/* Style individual dropdown items */
.header__menu li ul li {
  margin: 5px 0; /* Add vertical margin */
}

/* Style anchor tags in dropdown */
.header__menu li ul li a {
  color: var(--textPrimeColor); /* Primary text color */
  font-size: 1em; /* Set font size */
  letter-spacing: 0.1rem; /* Space between letters */
}

/* Hover effect for dropdown anchor tags */
.header__menu li ul li a:hover {
  color: var(--buttonBgColor); /* Button background color */
}

/* Menu Icons */

.openMenu {
  display: none;
}
.closeMenu {
  display: none;
}

/* CONTACT STYLE */
#contact {
  padding: 50px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--buttonBgColor);
  letter-spacing: 0.1rem;
}

.contact-container p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: var(--textSecondaryColor);
  letter-spacing: 0.1rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: left;
}

.contact-form label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 10px 0 5px;
  color: var(--textPrimeColor);
}

.contact-form input {
  transition: box-shadow 0.8s ease;
}
.contact-form input:hover {
  box-shadow: inset 0 0 0.4rem var(--textSecondaryColor);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0.2rem var(--buttonBgColor);
  color: var(--textPrimeColor);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  resize: vertical;
  transition: box-shadow 0.8s ease;
}

.contact-form input,
.contact-form textarea::placeholder {
  letter-spacing: 0.1rem;
}

.contact-form textarea:hover {
  box-shadow: inset 0 0 0.4rem var(--textSecondaryColor);
}

.contact-form button {
  box-shadow: 0 0 0.2rem var(--buttonBgColor);
  color: var(--buttonBgColor);
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  backdrop-filter: blur(14px);
  transition: box-shadow 0.8s ease, padding 0.8s ease;
}

.contact-form button:hover {
  padding: 1rem 2rem;
  box-shadow: inset 0 0 0.6rem var(--buttonBgColor);
}

.contact-links {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: start;
}

.contact-links > p {
  color: var(--textPrimeColor);
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 0.2rem #000;
}

.contact-links a {
  display: block;
  padding: 1rem 1rem;
  box-shadow: inset 0 0 1rem var(--textSecondaryColor);
  text-decoration: none;
  color: #a2a5aa;
  margin-bottom: 1rem;
  transition: box-shadow 0.8s ease;
}

.contact-links a i {
  margin-right: 8px;
}

.contact-links a:hover {
  box-shadow: inset 0 0 1rem var(--buttonBgColor);
}

/* Footer STYLING */

footer {
  background-color: #090909;
  color: var(--textPrimeColor);
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 10px auto;
}

.footer-links a {
  color: var(--textPrimeColor);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.8s ease;
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--textSecondaryColor);
}

/* For phones (up to 600px) */
@media only screen and (max-width: 600px) {
  .header__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(100% - fit-content);
    right: 0;
    top: 6rem;
    width: fit-content;
  }

  .header__menu ul {
    flex-direction: column;
    backdrop-filter: blur(12px);
    box-shadow: inset 0 0 0.1rem 0.1rem #38465a;
    border-radius: 12px;
  }

  .header__menu ul li {
    margin: 0.2rem 0;
  }

  .openMenu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .closeMenu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #contact {
    padding: 10px;
  }

  /* footer {
    background: linear-gradient(to bottom, #360033 30%, #0b8793);
  } */
}

/* For tablets and laptops (601px to 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1397px) {
  .header__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(100% - fit-content);
    right: 0;
    top: 6rem;
    width: fit-content;
  }

  .header__menu ul {
    flex-direction: column;
    backdrop-filter: blur(12px);
    box-shadow: inset 0 0 0.1rem 0.1rem #38465a;
    border-radius: 12px;
  }

  .header__menu ul li {
    margin: 0.2rem 0;
  }

  .openMenu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .closeMenu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (min-width: 1398px) {
  .openMenu,
  .closeMenu {
    display: none;
  }
  .header__menu {
    display: block;
  }
}
